@{
    Layout = "_Layout.cshtml";
}
@section sidebar
{
    <div >
        <h2 >Welcome</h2>
        <h3 >Navigation:</h3>
        <p >Search Books</p>
        <p >My Library</p>
    </div>
}
@RenderBody()